# 문자열에서 특정 문자(열) 위치 찾기(find)

In [1]:
txt='A lot of things occur each day, every day.'
offset1=txt.find('e')
offset2=txt.find('day')
offset3=txt.find('day', 30)
print(offset1)
print(offset2)
print(offset3)

22
27
38

In [2]:
url='http://www.naver.com/news/today=20160831'
log='name:홍길동 age:17 sex:남자 nation:조선'

ret1=url.split('/')
print(ret1)

ret2=log.split()
for data in ret2:
    d1, d2=data.split(':')
    print('%s -> %s'%(d1, d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
name -> 홍길동
age -> 17
sex -> 남자
nation -> 조선

# 문자열을 특정 문자(열)로 결합하기(join)

In [3]:
loglist=['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond=';'
log=bond.join(loglist)
print(log)

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

# 문자열을 정렬하기(sorted, join)

In [7]:
strdata=input('정렬할 문자열을 입력하세요:')
ret1=sorted(strdata)
ret2=sorted(strdata, reverse=True)
print(ret1)
print(ret2)

ret1=''.join(ret1)
ret2=''.join(ret2)

print('오름차순으로 정렬된 문자열은<' + ret1 + '>입니다.')
print('내림차순으로 정렬된 문자열은<' + ret2 + '>입니다.')

정렬할 문자열을 입력하세요:akjgheiuoayr
['a', 'a', 'e', 'g', 'h', 'i', 'j', 'k', 'o', 'r', 'u', 'y']
['y', 'u', 'r', 'o', 'k', 'j', 'i', 'h', 'g', 'e', 'a', 'a']
오름차순으로 정렬된 문자열은<aaeghijkoruy>입니다.
내림차순으로 정렬된 문자열은<yurokjihgeaa>입니다.

# 리스트에서 특정 요소의 위치 구하기 (index)

In [8]:
solarsys=['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
planet='지구'
pos=solarsys.index(planet)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' % (planet, pos))

pos=solarsys.index(planet, 5)
print('%s은(는) 태양계에서 %d번째에 위치하고 있습니다.' % (planet, pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다.
지구은(는) 태양계에서 9번째에 위치하고 있습니다.

# 사전에 요소 추가하기

In [10]:
solar1=['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2=['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict={}
for i, k in enumerate(solar1):
    val=solar2[i]
    solardict[k]=val
    
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}